body {
  margin: 0;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  background-color: #2C2B3D;
}
/* font-family: "JetBrains Mono", monospace; */

#page {
  padding: 71px 0 23px; 
  width: 1092px;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
  gap: 64px;
}

ul li a {
  font-family: "JetBrains Mono", monospace;
  font-size: 14px;
  line-height: 28px;
  font-weight: 500;
  color: #FFF;
  text-decoration: none;  
}

main {
  display: flex;
  justify-content: space-between;
  gap: 82px;
  margin-top: 100px;
  height: 283px;
}

main img {
  margin: 0 auto;
}

main h1 {
  font-family: "JetBrains Mono", monospace;
  color: #FFF;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  margin-top: 6px;
  margin-bottom: 59px;
}  

span {
  color: #00BFA6;
  font-weight: 700;
}

p {
  width: 604px;

  color: #C2C2C2;
  text-align: center;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}


#line {
  margin: 204px auto 27px; 
  height: 1px;
  width: 568px;

  background: #00BFA6;
}

footer{
  font-family: "JetBrains Mono", monospace;
  text-align: center;
  font-size: 14px;
  line-height: 28px;
  font-weight: 500;
  color: #FFF;
}

footer a {
  text-decoration: none; 
  font-family: "JetBrains Mono", monospace;
  text-align: center;
  font-size: 14px;
  line-height: 28px;
  font-weight: 500;
  color: #FFF;
}

#padlock {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0 0 20px 20px;
}